registry1111=file://Users/v9735/Downloads/opencart/SetupNginx/github/vite-scaffolding/packages/
h111oist-pattern[]=postcss # package/vite
h1111oist-pattern[]=pug # playground/tailwind: @vue/compiler-sfc
h111oist-pattern[]=eslint-import-resolver-* # eslint-plugin-import-x
shell-emulator=true
auto-install-peers=false
dedupe-injected-deps=false
link-workspace-packages = true
prefer-workspace-packages = true
recursive-install = true
